<p>Hi <%= @user.name %>,</p>

<p>There have been plenty of studies done on how motivating public shaming
  can be, you have not meet this pledge.<%= @reminder.goal.pledge %></p>
<p>If you can't seem to find the motivation we will help you out, just check your twitter account adios amigo</p>
