
<%= @github_two_months.class %>


<style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>

<div class="chart">

</div>

<script>
var data = <%= raw @github_two_months.to_json %>;
d3.select(".chart")
  .selectAll("div")
    .data(data)
  .enter().append("div")
    .style("width", function(d) { return (d[1] + 1) * 25 + "px"; })
    .text(function(d) { return d[1]; });
</script>
