<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Connect An API Account</h3>
  </div>
  <div class="panel-body background-pattern">
    <div class="row ">
      <%= render partial: "github_new" %>
      <%= render partial: "duolingo_new" %>
      <%= render partial: "exercism_new" %>
    </div>
  </div>
</div>
