<h1>Linked Account</h1>
<div>
  <div class="api-account-title">
    <h2><%= @api_account.api_username %> <small><%= @provider %></small></h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body center-block">
      <%= render partial: "#{@provider}_show" %>
    </div>
  </div>
</div>
