<div class="container" style="margin-top: 1.5%; background-color: lightblue;">
  <div class="row text-center">
    <br />
    <br />
    <h1>Welcome To The Greatest API Service In The World</h1>
    <br />
    <br />
    <%= link_to "Get Started Today!", "/auth/twitter", class: "btn btn-success btn-md" %>
    <br />
    <br />
    <br />
  </div>
</div>
    <br />
    <br />
    <br />
<div class="frontpage_select_service white-bg">
  <br />
  <div id="supported-integrations">
      <%= image_tag("github-gray.png", class: "logos") %>
      <%= image_tag("exercism-gray.png", class: "logos" ) %>
      <%= image_tag("duolingo-gray.png", class: "logos") %>
  </div>
  <br />
</div>
