<div class="container" style="margin-top: 1.5%; background-color: lightblue;">
  <div class="row text-center">
    <br />
    <br />
    <h1>Welcome To The Greatest API Service In The World</h1>
    <br />
    <br />
    <%= link_to "Get Started Today!", "/auth/twitter", class: "btn btn-success btn-md" %>
    <br />
    <br />
    <br />
  </div>

</div>
