<div class="jumbotron well" style="margin-top: 1.5%">
  <div class="row">
    Welcome To The Greatest API Service In The World 
    <br />
    <%= link_to "Get Started Today!", "/auth/twitter", class: "btn btn-success" %>
  </div>

</div>
