<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percent %>%;">
    <span class="sr-only"><%= @percent %>% Complete</span>
  </div>
</div>
Progress: <%= @percent %>%
<br>
Time Left to Complete Goal: 
<br>
Number of <%= @goal.get_commit_type %> Left to Complete Goal: 
<br>

