<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Create A New Goal</h3>
  </div>
  
  <div class="panel-body center-block">
    <div class="text-center">

      <div style="margin-top: .5%">
        <div class="api_selection">
          <select id="api_selection" name="api_selection">
            <option value="" disabled="disabled" selected="selected">Please Select An Account</option>
            <option value="Github">Github</option>
            <option value="Fitbit">Fitbit</option>
            <option value="Exercism">Exercism</option>
          </select>
        </div>
        <br />
        <p>
          paragraph or few sentences describing what adding a goal is and what it can do etc
        </p>
      </div>

      <div class="col-md-12 panel panel-default" id="all-forms" style="padding-right: 8%; display: none;"> 
        <div class="panel-body">
          <div id="github_form" style="display: none;" class="forms">
            <%= render partial: "goals/github" %>
          </div>
          <div id="fitbit_form" style="display: none;" class="forms">
            <%= render partial: "goals/fitbit" %>
          </div>
          <div id="exercism_form" style="display: none;" class="forms">
            <%= render partial: "goals/exercism" %>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
  $('#api_selection').change(function(){
    $(".forms").hide()
    switch ($('select option:selected').val()){
      case "Github":
        $('#all-forms').show();
        $('#github_form').show();
        break
      case "Fitbit":
        $('#all-forms').show();
        $('#fitbit_form').show();
        break
      case "Exercism":
        $('#all-forms').show();
        $('#exercism_form').show();
    }
  });
</script>
