/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.white-bg{
background-color: white;
}

.gray-bg{
background-color: #C2C2C2;
}

.logos{
  margin-left: 12%;
}



.reminders-form{
  margin-top: 20px;
}

.dl-horizontal dt {
width: 260px;
}

.rounded-bottoms {
border-bottom-left-radius:25px; 
border-bottom-right-radius:25px;
}



.dl-horizontal dd {
margin-left: 280px;
}

.background-img {
background-color: white;
}

.background-pattern {
background-color: white;
}

.nav nav-tab {
  background-color: white;
}

