.dashboard-outline{
  border-left: solid; 
  border-right: solid; 
  border-bottom: solid; 
  border-color: #dddddd; 
  border-width: 1px;
}

dl {
  margin-bottom: 0px !important;
}

.dl-horizontal dt {
  width: 175px !important;
}

.dl-horizontal dd {
  margin-left: 200px !important;
}
