---
http_interactions:
- request:
    method: get
    uri: http://www.duolingo.com/users/rrgayhart
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=UTF-8
      x-tid:
      - 022a052a52dee14e13bc
      x-ws:
      - 10.0.2.42
    body:
      encoding: UTF-8
      string: '{"username":"rrgayhart","bio":"","tts_cdn_url":"http:\/\/static.duolingo.com\/","avatar":"https:\/\/s3.amazonaws.com\/duolingo-images\/avatar\/default_1","js_version":"\/\/d7mj4aqfscim2.cloudfront.net\/s3\/js\/9cd3ec082d7d679229af6cd18518a110_mv_.min.js-\/\/d7mj4aqfscim2.cloudfront.net\/s3\/js\/c8ba23de621047d621eafef79dcdd8a4_mv_.min.js","inventory":{"timed_practice":"grandfathered"},"deactivated":false,"notif_event_ids":null,"ui_language":"en","is_following":false,"language_data":{"es":{"streak":0,"language_string":"Spanish","level_progress":59,"first_time":false,"num_global_practice":1,"points_rank":1,"max_level":false,"level_tests":[],"next_level":13,"show_real_world_practice":true,"points_ranking_data":[{"username":"rrgayhart","language_string":"Spanish","points_data":{"languages":[{"language_string":"Spanish","points":3959},{"language_string":"German","points":655},{"language_string":"French","points":0},{"language_string":"Italian","points":0},{"language_string":"Portuguese","points":0}],"total":4614},"avatar":"https:\/\/s3.amazonaws.com\/duolingo-images\/avatar\/default_1","language":"es","self":true,"id":2600785,"rank":1}],"num_skills_learned":56,"calendar":[],"level_left":941,"no_dep":true,"language_strength":0.25,"level_percent":5,"language":"es","level":12,"skills":[{"language_string":"Spanish","dependencies_name":["VERBS-CONDITIONAL","VERBS-PAST-IMPERFECT"],"disabled":false,"missing_lessons":1,"url_title":"Verbs:-Subjunctive-Past","description":"The
        subjunctive past tense of actions, such as <i>if I were<\/i>.","category":"new-verbs","index":"41","strength":0,"title":"Verbs:
        Subjunctive Past","coords_y":32,"coords_x":1,"id":"41acf48ad5e8b7211e253311d59c0c88","learned":false,"show_strength_message":false,"icon_color":"red","num_lexemes":6,"num_missing":6,"dependencies":["Verbs:
        Conditional","Verbs: Past Imperfect"],"known_lexemes":[],"words":["fu\u00e9ramos","hubiese","hiciera","tuviera","fueras","quisiera"],"short":"V.
        Sub. P.","locked":true,"name":"VERBS-SUBJUNCTIVE-PAST","language":"es","new_index":"40","changed":false,"progress_percent":0,"mastered":false},{"language_string":"Spanish","dependencies_name":["VERBS-GERUND","BUSINESS","MEDICAL"],"disabled":false,"missing_lessons":0,"url_title":"Verbs:-Haber","description":"The
        impersonal verb <i>haber<\/i> used to show existence of objects, similar to
        the English <i>there is<\/i>.","category":"new-verbs","index":"33","strength":0.25,"title":"Verbs:
        Haber","coords_y":26,"coords_x":3,"id":"edd1b1f24cc9bf787ad587a9a1f82146","learned":true,"show_strength_message":true,"icon_[...]
